<html>
  <head>
    <title>{site_name}</title>
    <link rel="stylesheet" type="text/css" media="all" href="{stylesheet='site/main'}" />
  </head>
  <body>
  <main class="main-container">
  	<section class="section section--on-top tabs js-tabs whats-on tabbed-content" id="whatsOn">
    	<div class="wrapper wrapper--even whats-on__wrapper stagger-children">
        	<div class="wrapper__col stagger-child">
              	<h2 class="h4 whats-on__heading">Shows</h2>
          	</div>
       		<div class="wrapper__col"></div>
          <div class="wrapper__col stagger-child">
            <div class="tabs__nav">
              <ul class="tabs__list tab-navigation">
                <li class="tabs__item" data-tab-target="just-announced">
                  <li class="tabs__item {embed:activeli}"><a class="tabs__link js-tabs__link {embed:activelink}" href="Site/index">Just Announced<a></li>
                  <li class="tabs__item {embed:activeli}"><a class="tabs__link js-tabs__link {embed:activelink}" href="Site/Upcoming">Upcoming<a></li>
                  <li class="tabs__item {embed:activeli}"><a class="tabs__link js-tabs__link {embed:activelink}" href="Site/Featured">Featured<a></li>
              </ul>
            </div>
            </div>
            </div>
      